/* réglage mobile */
.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 100px 600px 100px;
    grid-template-areas:
            "head head head"
            "menu menu article"
            "zoomarticle zoomarticle article"
            "footer footer footer";
    grid-gap: 10px;
    background-color: blue;

}

.header {
    grid-area:head;
    background-color: aqua;
}

.menu {
    grid-area:menu;
    background-color: yellow;

}

.menu > ul {
    display: flex;

    justify-content: space-between;
    list-style-type: none;
    padding: 25px;
}

.article {
    grid-area:article;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
            "titrearticle titrearticle titrearticle"
            "article1 article2 article3"
            "article4 article5 article6"
            "article7 article8 article9";
}
.titrearticle {
    grid-area: titrearticle;
    border: solid magenta;
}
.article1 {
    grid-area: article1;
    border: solid magenta;
}
.article2 {
    grid-area: article2;
    border: solid magenta;
}
.article3 {
    grid-area: article3;
    border: solid magenta;
}
.article4 {
    grid-area: article4;
    border: solid magenta;
}
.article5 {
    grid-area: article5;
    border: solid magenta;
}
.article6 {
    grid-area: article6;
    border: solid magenta;
}
/*.article7 {*/
/*    grid-area: article7;*/
/*    border: solid magenta;*/
/*}*/
.article8 {
    grid-area: article8;
    border: solid magenta;
}
.article9 {
    grid-area: article9;
    border: solid magenta;
}

.zoomarticle {
    grid-area:zoomarticle;
    background-color: green;
}

.footer {
    grid-area:footer;
    background-color: magenta;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "adresse mentions réseaux";
}

.adresse > p {
    font-style: italic;
    text-decoration: underline;
}

.mentions > p {
    font-style: italic;
    text-decoration: underline;
}

.réseaux > p {
    font-style: italic;
    text-decoration: underline;
}

.adresse {
    grid-area:adresse;
    background-color: aquamarine;
}
.mentions {
    grid-area: mentions;
    background-color: #2e8e6e;
}
.réseaux {
    grid-area: réseaux;
    background-color: #648177;
}




/* réglage plus grand que mobile */
@media screen and (min-width:600px) {
    
}